<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>INSTITUTE</title>
</head>
<body>
    <div class="container">
        <h1>Welcome To Institute</h1>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>    
</body>
</html>